{% include '@Payone/remote-include.twig' %}

<div class="payone-form payone-credit-card-form payment-form" id="payoneCreditCard">
    <h3>{{ 'payment.payone.credit-card' | trans }}</h3>

    <label>{{ 'Payone_credit_card.cardtype' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_credit_card.cardtype, { 'attr': {'placeholder': 'Payone_credit_card.cardtype' | trans } }) }}
        {{ form_errors(form.Payone_credit_card.cardtype) }}
    </div>

    <label>{{ 'Payone_credit_card.cardpan' | trans }}</label>
    <div class="field">
        <input type="text" id="Payone_credit_card_cardpan" name="cardpan" placeholder="Payone_credit_card.cardpan" value="">
    </div>

    <label>{{ 'Payone_credit_card.cardholder' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_credit_card.cardholder, { 'attr': {'placeholder': 'Payone_credit_card.cardholder' | trans } }) }}
        {{ form_errors(form.Payone_credit_card.cardholder) }}
    </div>

    <label>{{ 'Payone_credit_card.cardexpiredate' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_credit_card.cardexpiredate_month) }}
        {{ form_errors(form.Payone_credit_card.cardexpiredate_month) }}

        {{ form_widget(form.Payone_credit_card.cardexpiredate_year) }}
        {{ form_errors(form.Payone_credit_card.cardexpiredate_year) }}
    </div>

    <label>{{ 'Payone_credit_card.cardcvc2' | trans }}</label>
    <div class="field">
        <input type="text" id="Payone_credit_card_cardcvc2" name="cardcvc2" placeholder="Payone_credit_card.cardcvc2" value="">
    </div>

    <div class="field">
        {{ form_widget(form.Payone_credit_card.payone_client_api_config) }}
        {{ form_widget(form.Payone_credit_card.pseudocardpan) }}
    </div>

</div>
