<div class="payone-form payone-direct-debit-form payment-form" id="payoneDirectDebit">
    <h3>{{ 'payment.payone.direct-debit' | trans }}</h3>

    {% if form.Payone_direct_debit.bankaccountmode is defined %}
        <label>{{ 'Payone_direct_debit.bankaccountmode' | trans }}</label>
        <div class="field">
            {{ form_widget(form.Payone_direct_debit.bankaccountmode, { 'attr': {'placeholder': 'Payone_direct_debit.bankaccountmode' | trans } }) }}
        </div>
    {% endif %}

    {% if form.Payone_direct_debit.bankaccount is defined %}
        <label>{{ 'Payone_direct_debit.bankaccount' | trans }}</label>
        <div class="field">
            {{ form_widget(form.Payone_direct_debit.bankaccount, { 'attr': {'placeholder': 'Payone_direct_debit.bankaccount' | trans } }) }}
        </div>
    {% endif %}

    {% if form.Payone_direct_debit.bankcode is defined %}
        <label>{{ 'Payone_direct_debit.bankcode' | trans }}</label>
        <div class="field">
            {{ form_widget(form.Payone_direct_debit.bankcode, { 'attr': {'placeholder': 'Payone_direct_debit.bankcode' | trans } }) }}
        </div>
    {% endif %}

    <div class="field">
        {{ form_widget(form.payoneDirectDebit.bankcountry) }}
    </div>

    <label>{{ 'Payone_direct_debit.IBAN' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_direct_debit.iban, { 'attr': {'placeholder': 'Payone_direct_debit.IBAN' | trans } }) }}
        {{ form_errors(form.Payone_direct_debit.iban) }}
    </div>

    <label>{{ 'Payone_direct_debit.BIC' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_direct_debit.bic, { 'attr': {'placeholder': 'Payone_direct_debit.BIC' | trans } }) }}
        {{ form_errors(form.Payone_direct_debit.bic) }}
    </div>

</div>
