<div class="payment-subform payone-form payone-giropay-online-transfer-form payment-form" id="payoneGiropayOnlineTransfer">
    <h3>{{ 'payment.payone.giropay-online-transfer' | trans }}</h3>

    <div class="field">
        {{ form_widget(form.Payone_giropay_online_transfer.onlinebanktransfertype) }}
    </div>

    <div class="field">
        {{ form_widget(form.Payone_giropay_online_transfer.bankcountry) }}
    </div>

    <label>{{ 'Payone_giropay_online_transfer.IBAN' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_giropay_online_transfer.iban, { 'attr': {'placeholder': 'Payone_giropay_online_transfer.IBAN' | trans } }) }}
        {{ form_errors(form.Payone_giropay_online_transfer.iban) }}
    </div>

    <label>{{ 'Payone_giropay_online_transfer.BIC' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_giropay_online_transfer.bic, { 'attr': {'placeholder': 'Payone_giropay_online_transfer.BIC' | trans } }) }}
        {{ form_errors(form.Payone_giropay_online_transfer.bic) }}
    </div>

    {{ form_errors(form) }}

</div>
