<div class="payment-subform payone-form payone-ideal-online-transfer-form payment-form" id="payoneIdealOnlineTransfer">
    <h3>{{ 'payment.payone.ideal-online-transfer' | trans }}</h3>

    <div class="field">
        {{ form_widget(form.Payone_ideal_online_transfer.onlinebanktransfertype) }}
    </div>

    <div class="field">
        {{ form_widget(form.Payone_ideal_online_transfer.bankcountry) }}
    </div>

    {% if form.Payone_ideal_online_transfer.bankgrouptype is defined %}
        <label>{{ 'Payone_ideal_online_transfer.BankGroupType' | trans }}</label>
        <div class="field">
            {{ form_widget(form.Payone_ideal_online_transfer.bankgrouptype, { 'attr': {'placeholder': 'Payone_ideal_online_transfer.bankgrouptype' | trans } }) }}
            {{ form_errors(form.Payone_ideal_online_transfer.bankgrouptype) }}
        </div>
    {% endif %}

    {{ form_errors(form) }}

</div>
