<div class="payment-subform payone-form payone-instant-online-transfer-form payment-form" id="payoneInstantOnlineTransfer">
    <h3>{{ 'payment.payone.instant-online-transfer' | trans }}</h3>

    <div class="field">
        {{ form_widget(form.Payone_instant_online_transfer.onlinebanktransfertype) }}
    </div>

    <label>{{ 'Payone_instant_online_transfer.BankCountry' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_instant_online_transfer.bankcountry, { 'attr': {'placeholder': 'Payone_instant_online_transfer.bankcountry' | trans } }) }}
        {{ form_errors(form.Payone_instant_online_transfer.bankcountry) }}
    </div>

    {% if form.Payone_instant_online_transfer.bankaccount is defined %}
    <label>{{ 'Payone_instant_online_transfer.BankAccount' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_instant_online_transfer.bankaccount, { 'attr': {'placeholder': 'Payone_instant_online_transfer.bankaccount' | trans } }) }}
        {{ form_errors(form.Payone_instant_online_transfer.bankaccount) }}
    </div>
    {% endif %}

    {% if form.Payone_instant_online_transfer.bankcode is defined %}
    <label>{{ 'Payone_instant_online_transfer.BankCode' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_instant_online_transfer.bankcode, { 'attr': {'placeholder': 'Payone_instant_online_transfer.bankcode' | trans } }) }}
        {{ form_errors(form.Payone_instant_online_transfer.bankcode) }}
    </div>
    {% endif %}

    {% if form.Payone_instant_online_transfer.bankbranchcode is defined %}
        <label>{{ 'Payone_instant_online_transfer.BankBranchCode' | trans }}</label>
        <div class="field">
            {{ form_widget(form.Payone_instant_online_transfer.bankbranchcode, { 'attr': {'placeholder': 'Payone_instant_online_transfer.bankbranchcode' | trans } }) }}
            {{ form_errors(form.Payone_instant_online_transfer.bankbranchcode) }}
        </div>
    {% endif %}

    {% if form.Payone_instant_online_transfer.bankcheckdigit is defined %}
        <label>{{ 'Payone_instant_online_transfer.BankCheckDigit' | trans }}</label>
        <div class="field">
            {{ form_widget(form.Payone_instant_online_transfer.bankcheckdigit, { 'attr': {'placeholder': 'Payone_instant_online_transfer.bankcheckdigit' | trans } }) }}
            {{ form_errors(form.Payone_instant_online_transfer.bankcheckdigit) }}
        </div>
    {% endif %}

    {% if form.Payone_instant_online_transfer.bankgrouptype is defined %}
        <label>{{ 'Payone_instant_online_transfer.BankGroupType' | trans }}</label>
        <div class="field">
            {{ form_widget(form.Payone_instant_online_transfer.bankgrouptype, { 'attr': {'placeholder': 'Payone_instant_online_transfer.bankgrouptype' | trans } }) }}
            {{ form_errors(form.Payone_instant_online_transfer.bankgrouptype) }}
        </div>
    {% endif %}

    {% if form.Payone_instant_online_transfer.iban is defined %}
    <label>{{ 'Payone_instant_online_transfer.IBAN' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_instant_online_transfer.iban, { 'attr': {'placeholder': 'Payone_instant_online_transfer.IBAN' | trans } }) }}
        {{ form_errors(form.Payone_instant_online_transfer.iban) }}
    </div>
    {% endif %}

    {% if form.Payone_instant_online_transfer.bic is defined %}
    <label>{{ 'Payone_instant_online_transfer.BIC' | trans }}</label>
    <div class="field">
        {{ form_widget(form.Payone_instant_online_transfer.bic, { 'attr': {'placeholder': 'Payone_instant_online_transfer.BIC' | trans } }) }}
        {{ form_errors(form.Payone_instant_online_transfer.bic) }}
    </div>
    {%  endif %}

    {{ form_errors(form) }}

</div>
